
<div class="container-fluid">
  <h1>Posts</h1>
    <div class="btn">
    <%= link_to 'New Post', new_post_path %>
    </div>

  <div class="row">
    <div class="container-1 col-sm-12">
      <% @posts.reverse_each do |post, index| %>
      <div class="card">
        <div class="card-block">
        <div class="box-<%= index %>">
          <img src="<%= post.image_url %>" class="posts-images">
          <h4 class="card-title"><p><%= post.description %></p></h4>
          <p>
            <%= link_to 'Show', post %> |
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>

</div>

<br>
