<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Posts</h1>
  <div class="row">
    <div class="container-1 col-sm-12">
      <% @posts.each_with_index do |post, index| %>

        <div class="box-<%= index %>">
          <img src="<%= post.image_url %>" class="posts-images">
          <p><%= post.description %></p>
          <p>
            <%= link_to 'Show', post %> |
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>

      <% end %>
    </div>
  </div>

</div>

<br>

<%= link_to 'New Post', new_post_path %>
